* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    width: 100%;
    padding: 24px 156px;
    margin: 0 0 0 0;
}

.gallery {
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 16px 16px;
}

.gallery-item {
width: calc((100% - 48px) / 3);
}

.feedback-form {
    /* display: flex;
    flex-direction: column;
    gap: 8px; */
    width: 360px;
}

input, textarea {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

button {
    margin-top: 8px;
    color: #FFF;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
    display: flex;
        padding: 8px 16px;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
            background: #4E75FF;
            border: none;
}